<div class="col-md-13">
  <app-menu></app-menu>
  <div class="col-md-9">
  <a class="image" title="image"><img src="http://localhost:3000/images/leadco_img/intro-bg.jpg"
    style="height: 770px ; width: 1691px; text-align: center  "/>
    <!-- <a class="image" title="image"><img src="http://localhost:3000/images/leadco_img/images%20(3).jpg"
      style="height: 770px ; width: 1691px; text-align: center  "/>  -->
  <!-- <div class="col-md-9" style="margin-left: 250px"> -->
    <!-- <button mat-raised-button routerLink="/login" style=" background-color: sandybrown;margin-top: 20px">LOG OUT</button> -->
    <!-- <h2 style="text-align: center;margin-top: 250px" *ngFor="let item of userarr">Welcome {{role}}, {{item.user_name}}</h2> -->
    <!-- <a href="../images/header-bg.jpg"></a> -->
    <div style="text-align: center; top: 40% ; left: 700px; font-size: 80px; position: absolute">WELCOME</div>
    <div style="text-align: center;margin-top: 50px ; top: 50% ; left: 700px; font-size: 60px; position: absolute; " *ngFor="let item of userarr">{{item.user_name}}, {{[role]}}</div>
  <!-- </div> -->
</a>
</div>
</div>