<div class="container">
  <h3>Add Job Requirement Form</h3>
  <hr>

  <form (ngSubmit)="onaddjobreq()" #f="ngForm" class="example-form">

      <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Company Id:" [(ngModel)]="fk_company_id"
             id="fkcompanyid" required 
              name="fkcompanyid" #fkcompanyid1="ngModel">
    
          </mat-form-field>
    
        </div>
        <!-- <div [hidden]=" cowebsite1?.valid || cowebsite1?.untouched ">
    
           <div [hidden]="!coemail1?.errors?.required" class="alert alert-danger">
            Email Id is required
          </div> 
    
          <div [hidden]="!cowebsite1?.errors?.forbiddenName" class="alert alert-danger">
              Website Name cannot be xyz
            </div>
        </div> -->
    

    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input
        matInput
         placeholder="Job Type:"
         [(ngModel)]="job_type"
         id="jobtype"
         required
          name="jobtype"
          #jobtype1="ngModel">
      </mat-form-field>
    </div>
     <!-- <div [hidden]="jobtype1?.valid || jobtype1?.untouched">
  
      <div [hidden]="!jobtype1?.errors?.required" class="alert alert-danger">
        Company Name is required
      </div>
    </div>  -->

  <div class="form-group">
      <mat-form-field class="example-full-width">
        <input
        matInput
         placeholder="No Of Position:"
         [(ngModel)]="no_of_position"
         id="noofposition"
         required
          name="noofpostion"
          #noofposition1="ngModel">
      </mat-form-field>
    </div>
    <div [hidden]="noofposition1?.valid || noofposition1?.untouched">
  
      <div [hidden]="!noofposition1?.errors?.required" class="alert alert-danger">
        No.of position is required
      </div>
    </div>

    

    <div class="form-group">
        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="Shift Time:" [(ngModel)]="shift_time" 
          id="shifttime" 
          name="shifttime" #shifttime1="ngModel">
        </mat-form-field>
  
      </div>
  
      
  
     <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Experience:" [(ngModel)]="experience"
         id="experience" required
          name="experience" #experience1="ngModel">
      </mat-form-field>
      </div>
    <div [hidden]=" experience1?.valid || experience1?.untouched ">

    <div [hidden]="!experience?.errors?.required" class="alert alert-danger">
        Experience is required
      </div>
    </div>

    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Salary Package:" [(ngModel)]="salary_package"
         id="salarypackage" required 
          name="salarypackage" #salarypackage1="ngModel">

      </mat-form-field>

    </div>
    <div [hidden]=" salarypackage1?.valid || salarypackage1?.untouched ">

      <div [hidden]="!salarypackage1?.errors?.forbiddenName" class="alert alert-danger">
          Website Name cannot be xyz
        </div>
    </div>

    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Education:" [(ngModel)]="education"
         id="education" required 
          name="education" #education1="ngModel">

      </mat-form-field>

    </div>
     <div [hidden]=" education1?.valid || education1?.untouched ">

       <div [hidden]="!education?.errors?.required" class="alert alert-danger">
        Education Id is required
      </div> 
    
    </div> 

    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Last Used:" [(ngModel)]="last_used"
         id="lastused"  
          name="lastused" #lastused1="ngModel">

      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Technical Skill:" [(ngModel)]="technical_skill"
         id="technicalskill" required 
          name="technicalskill" #technicalskill1="ngModel">

      </mat-form-field>

    </div>
     <div [hidden]=" technicalskill1?.valid || technicalskill1?.untouched ">

       <div [hidden]="!technicalskill1?.errors?.required" class="alert alert-danger">
        Technical Skill is required
      </div> 
    
    </div>
     
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Special Skill:" [(ngModel)]="special_skill"
         id="specialskill"  
          name="specialskill" #specialskill1="ngModel">

      </mat-form-field>

    </div>
     
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Job Description:" [(ngModel)]="job_description"
         id="jobdesc" required 
          name="jobdesc" #jobdesc1="ngModel">

      </mat-form-field>

    </div>
     <div [hidden]=" jobdesc1?.valid || jobdesc1?.untouched ">

       <div [hidden]="!jobdesc?.errors?.required" class="alert alert-danger">
        Job Description is required
      </div> 
    
    </div>

    <div class="form-group">
      <input [disabled]="!f.valid" type="submit" style="width: 10%;height: 50px;margin-left: 20px;border-radius: 2px;background-color: lightgreen;font-size: 20px;">
      <button (click)="onback()" style="width: 10%;height: 50px;margin-left: 20px;border-radius: 2px;background-color: lightcoral;font-size: 20px;">Cancel</button>
    </div>
  </form>

</div>