<div class="col-md-13">
  <app-menu></app-menu>

<div class="col-md-9" style="margin-left: 250px">
  <div style="text-align: right; font-size: 25px;color: darkblue;" *ngFor="let item of userarr"><u>{{item.user_name}}, {{[role]}}</u></div>
  <div class="mat-row" >
   <h3 style="text-align: center;margin-top: 20px;font-size: 150%;color: black"><u>JOINING SHEET</u></h3>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort width='100%'>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox (change)="checkChange(element)"></mat-checkbox>
      </td>
    </ng-container>

     <!-- Position Column -->
    <ng-container matColumnDef="co_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </th>
      <td mat-cell *matCellDef="let element"> {{element.co_name}} </td>
    </ng-container>

     <!-- Position Column -->
     <ng-container matColumnDef="joining_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  Join Date </th>
      <td mat-cell *matCellDef="let element"> {{element.joining_date|date: 'dd-MM-yyyy'}} </td>
    </ng-container>
    
    <!-- <ng-container matColumnDef="user_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Recruiter Name </th>
      <td mat-cell *matCellDef="let element"> {{element.user_name}} </td>
    </ng-container> -->

    <ng-container matColumnDef="candidate_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Candidate Name </th>
      <td mat-cell *matCellDef="let element"> {{element.candidate_name}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="operation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Operation </th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab color="warn" (click)="OnDelete(element)">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        |
        <button mat-mini-fab color="primary" (click)="OnUpdate(element)">
           <span class="glyphicon glyphicon-pencil"></span>
         </button>
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;">
    </tr>
  </table>
  <br>
  <br>
  <mat-paginator [pageSizeOptions]="[6, 8, 10]">
  </mat-paginator>

  </div>
</div>
</div>