<!-- <div class="container" style="text-align: center; margin-top: 140px">
  <h1>Applicant Tracking System
    <i class="material-icons" style="height: 30px; width: 30px;">
      how_to_reg
      </i>
  </h1> -->
  <!-- <button mat-raised-button style="background-color: lightskyblue;" (click)="openLoginPage()">LOGIN</button> -->
<!-- <a class="btn btn-default btn-lg" (click)='openLoginPage()'>LOGIN</a>
</div> -->



<body>
  <!-- Navigation
      ==========================================-->
  <nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container"> 
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <!-- <a class="navbar-brand" href="index.html">Optics</a>  -->
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home" class="page-scroll">Home</a></li>
          <li><a href="#about-section" class="page-scroll">About</a></li>
          <li><a href="#services-section" class="page-scroll">Services</a></li>
          <li><a href="#works-section" class="page-scroll">Portfolio</a></li>
          <li><a href="#team-section" class="page-scroll">Team</a></li>
          <li><a href="#contact-section" class="page-scroll">Contact</a></li>
        </ul>
      </div> -->
      <!-- /.navbar-collapse --> 
    </div>
    <!-- /.container-fluid --> 
  </nav>
  
  <!-- Header -->
  <header class="text-center" name="home">
    <div class="intro-text">
      <h1><span class="color">APPLICANT TRACKING SYSTEM</span></h1>
      <p>Get your dream job</p>
      <div class="clearfix"></div>
      <a  class="btn btn-default btn-lg" (click)="openLoginPage()">LOGIN</a> </div>
  </header>
  </body>