/* .example-form{
    text-align: center; */
    /* margin-left: 10px; */
    /* height: 100%;
    width: 60%;
    color: black;
    background-color: rgba(100,120, 150, 0.5); */
    /* margin-top: 100%; */
/* } */
