<div class="col-md-13">
<app-menu></app-menu>

<html>
    <head>
      <title></title>
      <style>
        body{
          background-image: url('http://localhost:3000/images/leadco_img/hero_12.jpg');
          background-repeat:no-repeat;
          background-size: cover;
          height: 770px;
          width: 100%;
      
        }
        .container{
          width: 300px;
          height: 230px;
          margin: 0 auto;
          margin-bottom: 30%;
          margin-left: 400px;
        }
        .example-form{
          text-align: center;
          height: 100%;
          width: 380%;
          color: black;
          background-color:white;
          margin-top: 10%;
      }
      </style>
    </head>

<body>
<div class="container">
<div class="col-md-9" style="margin-left: 250px">
  
  
  <form (ngSubmit)="onsign()" #f="ngForm" class="example-form">
  <br>

  <div>
      <h3 style="text-align: center;margin-top: 20px;font-size: 150%;color: black;"><u>Add User Form</u></h3>
  </div>
    <div class="form-group">
      <mat-form-field class="example-full-width" >
        <mat-label>Email ID</mat-label>
        <input
        matInput
         placeholder="Email Id:"
         [(ngModel)]="email_id"
         id="email"
         email
         required
          name="email"
          #emailId1="ngModel">
          <mat-error *ngIf="emailId1.hasError('required')">ID is Required</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">

      <mat-form-field class="example-full-width">
        <input
        matInput
        type="password"
         placeholder="Password:"
         [(ngModel)]="password"
         id="password"
         required
         minlength="8"
          maxlength="10"
          name="password"
          #password1="ngModel">
          <!-- <button mat-icon-button matSuffix [attr.aria-label]="passwordToggleLabel"
          (click)="showPassword= !showPassword">
          <mat-icon>{{passwordToggleIcon}}</mat-icon>
        </button> -->
        <mat-error *ngIf="password1.hasError('required')">Password is Required</mat-error>
        <mat-error *ngIf="password1.hasError('minlength')">Minimum 8 character Required</mat-error>
        <mat-error *ngIf="password1.hasError('maxlength')">Maximum 10 character is allowed</mat-error>
      </mat-form-field>

    </div>
    
    <div class="form-group" >


      <mat-form-field class="example-full-width">
        <input matInput placeholder="User_name:" [(ngModel)]="user_name" id="user_name"
         required appForbiddenName="xyz"
          name="user_name" #name1="ngModel">
        <mat-error *ngIf="name1.hasError('required')">User Name is Required</mat-error>
      </mat-form-field>

    </div>

    <div class="form-group">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Date-of-Birth"  [(ngModel)]="date_of_birth" 
       name="date_of_birth" #dateofbirth1="ngModel" >
      <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    </div>

    <div class="form-group">
      
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Role:"  [(value)]="role">
            <mat-option value="Director">Director</mat-option>
            <mat-option value="BDM">BDM</mat-option>
            <mat-option value="BD">BD</mat-option>
            <mat-option value="Recruiter">Recruiter</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">

        <mat-radio-group>
          <h4>Gender</h4>
          <mat-radio-button value="1">Male</mat-radio-button>&nbsp;
          <mat-radio-button value="2">Female</mat-radio-button>
        </mat-radio-group> 
      </div>

      <div class="form-group">
        <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="mobile_no" matInput placeholder="Mobile No" id="mobileno" required minlength="10" maxlength="10"
        name="mobileno" #mobileno1="ngModel">
        <mat-error *ngIf="mobileno1.hasError('required')">Mobile NO is Required</mat-error>
        <mat-error *ngIf="mobileno1.hasError('minlength')">10 digit Required</mat-error>
        <mat-error *ngIf="mobileno1.hasError('maxlength')">More than 10 digit not allowed</mat-error>
      </mat-form-field>
    </div>

   <div class="form-group">
        <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="address" matInput placeholder="address" id="address" required minlength="10" maxlength="100"
        name="address" #address1="ngModel">
        <mat-error *ngIf="address1.hasError('required')">Address is Required</mat-error>
        <mat-error *ngIf="address1.hasError('minlength')">Minimum 10 character Required</mat-error>
        <mat-error *ngIf="address1.hasError('maxlength')">More than 100 characters not allowed</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <input [disabled]="!f.valid" type="submit" value="Add" style="width: 20%;height: 60%;margin-left: 20px;border-radius: 2px;background-color: lightgreen;font-size: 20px;">
      <button (click)="onback()" style="width: 20%;height: 60%;margin-left: 20px;border-radius: 2px;background-color: lightcoral;font-size: 20px;">Cancel</button>
    </div>
  </form>

</div>
</div>
</body>
</html>
</div>